html, body {
    margin:20px;
    padding: 0;
    font-family: Karla;
}

#box {
    padding: 10px;
    display: block;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background: #ECF2FF;
    font-size: 30px;
}

.fadeIn {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    
    @keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }
    
    @-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }
    
    @-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }
    
    @-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }
    
    @-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#emoji-container {
    font-size: 50px;
}

#box:focus {
    background: #CFDFFF;
}

#help-text {
    display: none;
    text-align: center;
}

#box:focus #help-text {
    display: block;
}